/* background #F5F5F5 */
/* background темний #2F303A */
/* background наша команда #F5F4FA */

/* NAV footer rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent: #2196F3;
    --primary-white-color: #FFFFFF;
}


/* Загальні */
.page {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

/* Логотип */
.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-name {
    color: var(--accent);
}

/*Навігація сайту*/
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent);
}

.site-nav .link.current {
    color: var(--accent);
}

.aut-nav .link {
    color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: 0.02em;
}

.aut-nav .link:hover,
.aut-nav .link:focus {
    color: var(--accent);
}

/* Main Секція Hero */
.hero-title {
    /* ЗАМІНИТИ COLOR НА #FFFFFF */
    color:red;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase
}

.button {
    color:var(--primary-white-color);
    background-color: var(--accent);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.36;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;


}

/* Main Секція 1,2,3 H2 */
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Секція 2 Чим ми займаємося */
.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

/* Секція 3 Наша команда*/
.command-list .title {
    color: var(--title-text-color); 
}